<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Trang chủ</title>
</head>
<body>
<main layout:fragment="content" class="container">
    <h1>Trang chủ UTEShop</h1>
    <div class="panel">
        <p>
            Xin chào
            <strong th:text="${#authentication.principal.fullName}">User</strong>
        </p>
        <p>Chúc mừng bạn đã hoàn thành bài tập Custom Login (đăng nhập bằng username hoặc email, hiển thị fullname & avatar trên header)!</p>
    </div>
</main>
</body>
</html>
